.boxleft{
  background-color: #fff;
  margin-left: 5%;
  width: 35em;
  height: 27em;
}
.FB{
  width: 7em;
  height: 3.5em;
  margin-top: 2%;
  margin-left: 33%;
}
.button{
  margin-left: 38%;
  margin-top: 5%;
}
.USER{
  width: 5em;
  height: 5em;
  margin-top: 2%;
  margin-left: 38%;
}
.boxright{
  width: 35em;
  height: 30em;
  background-color: #fff;
  position: absolute;
  right: 9%;
  top:12.3%;
  border-style: solid;
  border-color: #000;
}
.box2{
  margin-right: 30%;
}
.box3{
  border-style: solid;
  border-color: #00bfff;
  width: 20em;
  height: 22em;
  margin-left: 22%;
  margin-top:5%;
}
.inputfirst{
  margin-top: 12%;
}
.input{
  margin-top: 9%;
}
.box1{
  margin-right: 40%;
  text-align: center;
}
.EDIT{
  color: black;
  font-size: 18px;
  margin-top: 15%;
}
.Pright{
  font-size: 30px;
  text-align: center;
  margin-top: 3%;
}
.editLG{
  margin-top: 1%;
  margin-left: 9%;
  margin-bottom: 1%;
  width: 10%;
  height: 10%;
}
.editP{
  color: #000;
  font-size: 38px;
  text-align: center;
}
.editP2{
  color: #000;
  font-size: 26px;
  text-align: center;
}
.BG{
  background: url(../Assets/bg.png) no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.left{
margin-top: 30%;
margin-left: 32em;
}
.right{
}
.LG{
  position:absolute;
  float: left;
  height: 10em;
  width: 15em;
}
.para{
  margin-top: 9.5em;
  position: absolute;
  font-size: 17.3px;
}
.pic{
  position: absolute;
  height: 100%;
  width: auto;
  right: 0;
  bottom:0;
}
.center{
  position:absolute;
  left: 47%;
  top: 55%;
}
button{
  width:15em;
  height: auto;
}
