.left{
margin-top: 30%;
margin-left: 32em;
}
.right{
}
.LG{
  position:absolute;
  float: left;
  height: 10em;
  width: 15em;
}
.para{
  margin-top: 9.5em;
  position: absolute;
  font-size: 17.3px;
}
.pic{
  position: absolute;
  height: 100%;
  width: auto;
  right: 0;
  bottom:0;
}
.center{
  position:absolute;
  left: 47%;
  top: 55%;
}
button{
  width:15em;
  height: auto;
}
